body, html, #root {
  height: 100%;
}

.carousel--container {
  width: 100vw;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.slide {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2rem;
}

.slide:last-child {
  height: 100%;
}

.slide:nth-child(odd) {
  background-color: #777;
}
.slide:nth-child(even) {
  background-color: blue;
}
