.carousel--infinite {
  width: 100vw;
  height: 500px;
  max-width: 900px;
  margin: 0 auto;
}

.carousel--infinite .slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.carousel--infinite .slide:last-child {
  height: 100%;
}

.carousel--infinite .slide:nth-child(odd) {
  background-color: #777;
}

.carousel--infinite .slide:nth-child(even) {
  background-color: blue;
}
