.carousel--container {
    width: 100%;
    max-width: 900px;
    height: 480px;
    margin: 0 auto;
  }
  
  .carousel--container:not(.vertical) .carousel {
    display: flex;
  }
  
  .carousel--container .slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: white;
    font-size: 2rem;
  }

  .carousel--container.vertical.slide-ninety > .carousel > .slide {
    height: 90%;
  }

  .carousel--container .controls {
    text-align: center;
    margin-top: 1rem;
  }
  
  .carousel--container .slide:last-child {
    height: 100%;
  }
  
  .carousel--container .slide:nth-child(odd) {
    background-color: #777;
  }
  .carousel--container .slide:nth-child(even) {
    background-color: blue;
  }
  