.carousel--autoplay {
  width: 100vw;
  max-width: 900px;
  height: 500px;
  margin: 0 auto;
}

.carousel--autoplay .carousel {
  display: flex;
}

.carousel--autoplay .slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: white;
  font-size: 2rem;
}

.carousel--autoplay .slide:last-child {
  height: 100%;
}

.carousel--autoplay .slide:nth-child(odd) {
  background-color: #777;
}
.carousel--autoplay .slide:nth-child(even) {
  background-color: blue;
}
